fastapi[standard]
deepagents
pydantic
pydantic-settings
langchain-google-genai
langsmith
langgraph
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
datasets
pandas
numpy
pyarrow
lxml
pypdf2
xmlschema